body {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(221, 100%, 96%);
}

.main {
    background-color: hsl(221, 100%, 96%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.main .background {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 50px 40px 100px 10px hsla(241, 72%, 46%, 0.1);
}

.main .background .result {
    background-image: linear-gradient(to top, hsl(241, 81%, 40%), hsl(252, 100%, 57%));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 400px;
    height: 430px;
    color: hsl(0, 0%, 100%);
    border-radius: 25px;
}

.main .background .result h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: hsl(221, 100%, 96%);
}

.main .background .result .radius {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-image: linear-gradient(to top, hsla(241, 72%, 49%, 1), hsla(256, 72%, 29%, 1));
    width: 150px;
    padding: 35px;
    border-radius: 150px;
}

.main .background .result .radius span {
    font-size: 50px;
    font-weight: 800;
}

.main .background .result .radius p {
    font-size: 13px;
    font-weight: 500;
    color: hsl(241, 100%, 89%, 0.8);
}

.main .background .result h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.main .background .result p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}



.main .background .summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 380px;
    padding-left: 30px;
    padding-top: 13px;
}

.main .background .summary li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}