body {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
}

.main {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.main .background {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 20px 20px 100px 8px hsla(234, 34%, 18%, 0.3);
}

.main .background .result {
    background-image: linear-gradient(to top, hsl(232, 99%, 26%), hsl(245, 83%, 67%));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 400px;
    height: 430px;
    color: hsl(221, 100%, 96%);
    border-radius: 25px;
}

.main .background .result h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: hsl(221, 100%, 96%);
}

.main .background .result .radius {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-image: linear-gradient(to top,hsl(232, 68%, 46%), rgb(60, 28, 148));
    width: 150px;
    padding: 35px;
    border-radius: 150px;
}

.main .background .result .radius span {
    font-size: 50px;
    font-weight: 800;
}

.main .background .result .radius p {
    font-size: 13px;
    font-weight: 500;
    color: hsl(241, 100%, 89%, 0.8);
}

.main .background .result h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.main .background .result p {
    text-align: center;
    font-size: 17px;
}



.main .background .summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 380px;
    padding-left: 30px;
    padding-top: 10px;
}
.main .background .summary h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    color: hsl(223, 27%, 13%)
}
.main .background .summary .list {
    margin-bottom: 18px;
    height: 250px;
    width: 250px;
}

.main .background .summary .list ul li {
    display: flex;
    align-items: center;
    margin: 10px 10px 15px 0px;
    padding: 10px;
    border-radius: 7px;
    width: 240px;
    height: 45px;
    justify-content: space-between;
    font-size: 15px;
}
.main .background .summary .list ul li.reaction {
    font-weight: 800;
    color: hsl(0, 100%, 67%);
    background-color:  hsla(20, 100%, 73%, 0.2);
}
.main .background .summary .list ul li.memory {
    color:  hsl(39, 100%, 56%);
    background-color: hsla(56, 91%, 61%, 0.2);
}
.main .background .summary .list ul li.verbal {
    color:  hsl(166, 100%, 37%);
    background-color:  hsla(166, 100%, 37%, 0.1);
}
.main .background .summary .list ul li.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}
.main .background .summary .list ul li h2 {
    font-size: 15px;
    font-weight: 500;
}
.main .background .summary .list ul li .organizacao {
    display: flex;
}
.main .background .summary .list ul li .organizacao img {
    margin-right: 8px;
}
.main .background .summary .list ul li span {
    font-weight: 800;
    color: hsl(223, 27%, 13%)
}
.main .background .summary .list ul li p {
    font-weight: 800;
    color: hsla(224, 28%, 13%, 0.525)
}
.main .background .summary .continue-btn {
    width: 225px;
    height: 45px;
    border-radius: 30px;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 200;
    background-color: hsl(222, 33%, 16%);
    color: hsl(0, 0%, 100%);
}
.main .background .summary .continue-btn:hover {
    background-image: linear-gradient(to top,hsl(232, 68%, 46%), rgb(60, 28, 148));
    cursor: pointer;
}